In [1]:
import bs4 as bs
import pickle
import requests
import datetime as dt
import pandas_datareader as web
import os
import time

In [2]:
def save_sp500_tickers():
    resp = requests.get('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
    soup = bs.BeautifulSoup(resp.text, 'lxml')
    table = soup.find('table', {'class': 'wikitable sortable'})
    
    tickers = []
    for row in table.find_all('tr')[1:]:
        ticker = row.find_all('td')[0].text
#        print(ticker)
        if not ticker.find('.') == -1:
            s = list(ticker)
            s[ticker.find('.')] = '-'
            ticker = "".join(s)
            print(ticker)
        tickers.append(ticker.strip('\n'))
        
        
    #We now save the whole list to disk through the "pickle" library
    with open('sp500tickers.pickle', 'wb') as f:
        pickle.dump(tickers,f)
    
    return tickers

In [3]:
tickers = save_sp500_tickers()

BRK-B

BF-B

In [4]:
resp = requests.get('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')

In [5]:
print(format(tickers))

['MMM', 'ABT', 'ABBV', 'ABMD', 'ACN', 'ATVI', 'ADBE', 'AMD', 'AAP', 'AES', 'AFL', 'A', 'APD', 'AKAM', 'ALK', 'ALB', 'ARE', 'ALGN', 'ALLE', 'LNT', 'ALL', 'GOOGL', 'GOOG', 'MO', 'AMZN', 'AMCR', 'AEE', 'AAL', 'AEP', 'AXP', 'AIG', 'AMT', 'AWK', 'AMP', 'ABC', 'AME', 'AMGN', 'APH', 'ADI', 'ANSS', 'ANTM', 'AON', 'AOS', 'APA', 'AAPL', 'AMAT', 'APTV', 'ADM', 'ANET', 'AJG', 'AIZ', 'T', 'ATO', 'ADSK', 'ADP', 'AZO', 'AVB', 'AVY', 'BKR', 'BLL', 'BAC', 'BBWI', 'BAX', 'BDX', 'BRK-B', 'BBY', 'BIO', 'TECH', 'BIIB', 'BLK', 'BK', 'BA', 'BKNG', 'BWA', 'BXP', 'BSX', 'BMY', 'AVGO', 'BR', 'BRO', 'BF-B', 'CHRW', 'CDNS', 'CZR', 'CPB', 'COF', 'CAH', 'KMX', 'CCL', 'CARR', 'CTLT', 'CAT', 'CBOE', 'CBRE', 'CDW', 'CE', 'CNC', 'CNP', 'CDAY', 'CERN', 'CF', 'CRL', 'SCHW', 'CHTR', 'CVX', 'CMG', 'CB', 'CHD', 'CI', 'CINF', 'CTAS', 'CSCO', 'C', 'CFG', 'CTXS', 'CLX', 'CME', 'CMS', 'KO', 'CTSH', 'CL', 'CMCSA', 'CMA', 'CAG', 'COP', 'ED', 'STZ', 'COO', 'CPRT', 'GLW', 'CTVA', 'COST', 'CTRA', 'CCI', 'CSX', 'CMI', 'CVS', 'DHI', 'DHR', 'DRI', 'DVA', 'DE', 'DAL', 'XRAY', 'DVN', 'DXCM', 'FANG', 'DLR', 'DFS', 'DISCA', 'DISCK', 'DISH', 'DG', 'DLTR', 'D', 'DPZ', 'DOV', 'DOW', 'DTE', 'DUK', 'DRE', 'DD', 'DXC', 'EMN', 'ETN', 'EBAY', 'ECL', 'EIX', 'EW', 'EA', 'EMR', 'ENPH', 'ETR', 'EOG', 'EFX', 'EQIX', 'EQR', 'ESS', 'EL', 'ETSY', 'EVRG', 'ES', 'RE', 'EXC', 'EXPE', 'EXPD', 'EXR', 'XOM', 'FFIV', 'FB', 'FAST', 'FRT', 'FDX', 'FIS', 'FITB', 'FE', 'FRC', 'FISV', 'FLT', 'FMC', 'F', 'FTNT', 'FTV', 'FBHS', 'FOXA', 'FOX', 'BEN', 'FCX', 'GPS', 'GRMN', 'IT', 'GNRC', 'GD', 'GE', 'GIS', 'GM', 'GPC', 'GILD', 'GL', 'GPN', 'GS', 'GWW', 'HAL', 'HBI', 'HIG', 'HAS', 'HCA', 'PEAK', 'HSIC', 'HSY', 'HES', 'HPE', 'HLT', 'HOLX', 'HD', 'HON', 'HRL', 'HST', 'HWM', 'HPQ', 'HUM', 'HBAN', 'HII', 'IEX', 'IDXX', 'INFO', 'ITW', 'ILMN', 'INCY', 'IR', 'INTC', 'ICE', 'IBM', 'IP', 'IPG', 'IFF', 'INTU', 'ISRG', 'IVZ', 'IPGP', 'IQV', 'IRM', 'JKHY', 'J', 'JBHT', 'SJM', 'JNJ', 'JCI', 'JPM', 'JNPR', 'KSU', 'K', 'KEY', 'KEYS', 'KMB', 'KIM', 'KMI', 'KLAC', 'KHC', 'KR', 'LHX', 'LH', 'LRCX', 'LW', 'LVS', 'LEG', 'LDOS', 'LEN', 'LLY', 'LNC', 'LIN', 'LYV', 'LKQ', 'LMT', 'L', 'LOW', 'LUMN', 'LYB', 'MTB', 'MRO', 'MPC', 'MKTX', 'MAR', 'MMC', 'MLM', 'MAS', 'MA', 'MTCH', 'MKC', 'MCD', 'MCK', 'MDT', 'MRK', 'MET', 'MTD', 'MGM', 'MCHP', 'MU', 'MSFT', 'MAA', 'MRNA', 'MHK', 'TAP', 'MDLZ', 'MPWR', 'MNST', 'MCO', 'MS', 'MOS', 'MSI', 'MSCI', 'NDAQ', 'NTAP', 'NFLX', 'NWL', 'NEM', 'NWSA', 'NWS', 'NEE', 'NLSN', 'NKE', 'NI', 'NSC', 'NTRS', 'NOC', 'NLOK', 'NCLH', 'NRG', 'NUE', 'NVDA', 'NVR', 'NXPI', 'ORLY', 'OXY', 'ODFL', 'OMC', 'OKE', 'ORCL', 'OGN', 'OTIS', 'PCAR', 'PKG', 'PH', 'PAYX', 'PAYC', 'PYPL', 'PENN', 'PNR', 'PBCT', 'PEP', 'PKI', 'PFE', 'PM', 'PSX', 'PNW', 'PXD', 'PNC', 'POOL', 'PPG', 'PPL', 'PFG', 'PG', 'PGR', 'PLD', 'PRU', 'PTC', 'PEG', 'PSA', 'PHM', 'PVH', 'QRVO', 'PWR', 'QCOM', 'DGX', 'RL', 'RJF', 'RTX', 'O', 'REG', 'REGN', 'RF', 'RSG', 'RMD', 'RHI', 'ROK', 'ROL', 'ROP', 'ROST', 'RCL', 'SPGI', 'CRM', 'SBAC', 'SLB', 'STX', 'SEE', 'SRE', 'NOW', 'SHW', 'SPG', 'SWKS', 'SNA', 'SO', 'LUV', 'SWK', 'SBUX', 'STT', 'STE', 'SYK', 'SIVB', 'SYF', 'SNPS', 'SYY', 'TMUS', 'TROW', 'TTWO', 'TPR', 'TGT', 'TEL', 'TDY', 'TFX', 'TER', 'TSLA', 'TXN', 'TXT', 'TMO', 'TJX', 'TSCO', 'TT', 'TDG', 'TRV', 'TRMB', 'TFC', 'TWTR', 'TYL', 'TSN', 'UDR', 'ULTA', 'USB', 'UAA', 'UA', 'UNP', 'UAL', 'UNH', 'UPS', 'URI', 'UHS', 'VLO', 'VTR', 'VRSN', 'VRSK', 'VZ', 'VRTX', 'VFC', 'VIAC', 'VTRS', 'V', 'VNO', 'VMC', 'WRB', 'WAB', 'WMT', 'WBA', 'DIS', 'WM', 'WAT', 'WEC', 'WFC', 'WELL', 'WST', 'WDC', 'WU', 'WRK', 'WY', 'WHR', 'WMB', 'WLTW', 'WYNN', 'XEL', 'XLNX', 'XYL', 'YUM', 'ZBRA', 'ZBH', 'ZION', 'ZTS']

In [6]:
def getStockPriceData(folder = 'dataSP500', reload_sp500 = False):
    #Retrive tickers and verify folder structure
    if reload_sp500:
        tickers = save_sp500_tickers()
    else:
        with open('sp500tickers.pickle', 'rb') as f:
            tickers = pickle.load(f)
    if not os.path.exists(folder):
        os.makedirs(folder)
    
    #Setup time period
    start = dt.datetime(1990,1,1)
    end = dt.datetime.now()
    
    #Retrieve data
    for ticker in tickers:
        if not os.path.exists('{fname}/{name}.csv'.format(fname=folder, name=ticker)): 
#            print('I AM HERE NOW:', ticker)
            df = web.DataReader(ticker, 'yahoo', start, end)
            if df.shape[0]<400:
                print(ticker,"not included, shape = ", str(df.shape))
                continue       
            df.to_csv('{fname}/{name}.csv'.format(fname=folder, name=ticker))
            print(ticker,"saved, shape = ", str(df.shape))
#            time.sleep(0.5)
        else:
            print('Already have {}'.format(ticker))

In [111]:
getStockPriceData()

Already have MMM
Already have ABT
Already have ABBV
Already have ABMD
Already have ACN
Already have ATVI
Already have ADBE
Already have AMD
Already have AAP
Already have AES
Already have AFL
Already have A
Already have APD
Already have AKAM
Already have ALK
Already have ALB
Already have ARE
Already have ALXN
Already have ALGN
Already have ALLE
Already have ADS
Already have LNT
Already have ALL
Already have GOOGL
Already have GOOG
Already have MO
Already have AMZN
Already have AMCR
Already have AEE
Already have AAL
Already have AEP
Already have AXP
Already have AIG
Already have AMT
Already have AWK
Already have AMP
Already have ABC
Already have AME
Already have AMGN
Already have APH
Already have ADI
Already have ANSS
Already have ANTM
Already have AON
Already have AOS
Already have APA
Already have AIV
Already have AAPL
Already have AMAT
Already have APTV
Already have ADM
Already have ANET
Already have AJG
Already have AIZ
Already have T
Already have ATO
Already have ADSK
Already have ADP
Already have AZO
Already have AVB
Already have AVY
Already have BKR
Already have BLL
Already have BAC
Already have BK
Already have BAX
Already have BDX
Already have BRK-B
Already have BBY
Already have BIIB
Already have BLK
Already have BA
Already have BKNG
Already have BWA
Already have BXP
Already have BSX
Already have BMY
Already have AVGO
Already have BR
Already have BF-B
Already have CHRW
Already have COG
Already have CDNS
Already have CPB
Already have COF
Already have CAH
Already have KMX
Already have CCL
CARR not included, shape =  (60, 6)
Already have CAT
Already have CBOE
Already have CBRE
Already have CDW
Already have CE
Already have CNC
Already have CNP
Already have CTL
Already have CERN
Already have CF
Already have SCHW
Already have CHTR
Already have CVX
Already have CMG
Already have CB
Already have CHD
Already have CI
Already have CINF
Already have CTAS
Already have CSCO
Already have C
Already have CFG
Already have CTXS
Already have CLX
Already have CME
Already have CMS
Already have KO
Already have CTSH
Already have CL
Already have CMCSA
Already have CMA
Already have CAG
Already have CXO
Already have COP
Already have ED
Already have STZ
Already have COO
Already have CPRT
Already have GLW
CTVA not included, shape =  (266, 6)
Already have COST
Already have COTY
Already have CCI
Already have CSX
Already have CMI
Already have CVS
Already have DHI
Already have DHR
Already have DRI
Already have DVA
Already have DE
Already have DAL
Already have XRAY
Already have DVN
Already have DXCM
Already have FANG
Already have DLR
Already have DFS
Already have DISCA
Already have DISCK
Already have DISH
Already have DG
Already have DLTR
Already have D
Already have DPZ
Already have DOV
DOW not included, shape =  (312, 6)
Already have DTE
Already have DUK
Already have DRE
Already have DD
Already have DXC
Already have ETFC
Already have EMN
Already have ETN
Already have EBAY
Already have ECL
Already have EIX
Already have EW
Already have EA
Already have EMR
Already have ETR
Already have EOG
Already have EFX
Already have EQIX
Already have EQR
Already have ESS
Already have EL
Already have EVRG
Already have ES
Already have RE
Already have EXC
Already have EXPE
Already have EXPD
Already have EXR
Already have XOM
Already have FFIV
Already have FB
Already have FAST
Already have FRT
Already have FDX
Already have FIS
Already have FITB
Already have FE
Already have FRC
Already have FISV
Already have FLT
Already have FLIR
Already have FLS
Already have FMC
Already have F
Already have FTNT
Already have FTV
Already have FBHS
FOXA not included, shape =  (318, 6)
FOX not included, shape =  (317, 6)
Already have BEN
Already have FCX
Already have GPS
Already have GRMN
Already have IT
Already have GD
Already have GE
Already have GIS
Already have GM
Already have GPC
Already have GILD
Already have GL
Already have GPN
Already have GS
Already have GWW
Already have HRB
Already have HAL
Already have HBI
Already have HOG
Already have HIG
Already have HAS
Already have HCA
Already have PEAK
Already have HSIC
Already have HSY
Already have HES
Already have HPE
Already have HLT
Already have HFC
Already have HOLX
Already have HD
Already have HON
Already have HRL
Already have HST
HWM not included, shape =  (103, 6)
Already have HPQ
Already have HUM
Already have HBAN
Already have HII
Already have IEX
Already have IDXX
Already have INFO
Already have ITW
Already have ILMN
Already have INCY
Already have IR
Already have INTC
Already have ICE
Already have IBM
Already have IP
Already have IPG
Already have IFF
Already have INTU
Already have ISRG
Already have IVZ
Already have IPGP
Already have IQV
Already have IRM
Already have JKHY
Already have J
Already have JBHT
Already have SJM
Already have JNJ
Already have JCI
Already have JPM
Already have JNPR
Already have KSU
Already have K
Already have KEY
Already have KEYS
Already have KMB
Already have KIM
Already have KMI
Already have KLAC
Already have KSS
Already have KHC
Already have KR
Already have LB
Already have LHX
Already have LH
Already have LRCX
Already have LW
Already have LVS
Already have LEG
Already have LDOS
Already have LEN
Already have LLY
Already have LNC
Already have LIN
Already have LYV
Already have LKQ
Already have LMT
Already have L
Already have LOW
Already have LYB
Already have MTB
Already have MRO
Already have MPC
Already have MKTX
Already have MAR
Already have MMC
Already have MLM
Already have MAS
Already have MA
Already have MKC
Already have MXIM
Already have MCD
Already have MCK
Already have MDT
Already have MRK
Already have MET
Already have MTD
Already have MGM
Already have MCHP
Already have MU
Already have MSFT
Already have MAA
Already have MHK
Already have TAP
Already have MDLZ
Already have MNST
Already have MCO
Already have MS
Already have MOS
Already have MSI
Already have MSCI
Already have MYL
Already have NDAQ
Already have NOV
Already have NTAP
Already have NFLX
Already have NWL
Already have NEM
Already have NWSA
Already have NWS
Already have NEE
Already have NLSN
Already have NKE
Already have NI
Already have NBL
Already have JWN
Already have NSC
Already have NTRS
Already have NOC
NLOK not included, shape =  (320, 6)
Already have NCLH
Already have NRG
Already have NUE
Already have NVDA
Already have NVR
Already have ORLY
Already have OXY
Already have ODFL
Already have OMC
Already have OKE
Already have ORCL
OTIS not included, shape =  (60, 6)
Already have PCAR
Already have PKG
Already have PH
Already have PAYX
Already have PAYC
Already have PYPL
Already have PNR
Already have PBCT
Already have PEP
Already have PKI
Already have PRGO
Already have PFE
Already have PM
Already have PSX
Already have PNW
Already have PXD
Already have PNC
Already have PPG
Already have PPL
Already have PFG
Already have PG
Already have PGR
Already have PLD
Already have PRU
Already have PEG
Already have PSA
Already have PHM
Already have PVH
Already have QRVO
Already have PWR
Already have QCOM
Already have DGX
Already have RL
Already have RJF
Already have RTX
Already have O
Already have REG
Already have REGN
Already have RF
Already have RSG
Already have RMD
Already have RHI
Already have ROK
Already have ROL
Already have ROP
Already have ROST
Already have RCL
Already have SPGI
Already have CRM
Already have SBAC
Already have SLB
Already have STX
Already have SEE
Already have SRE
Already have NOW
Already have SHW
Already have SPG
Already have SWKS
Already have SLG
Already have SNA
Already have SO
Already have LUV
Already have SWK
Already have SBUX
Already have STT
Already have STE
Already have SYK
Already have SIVB
Already have SYF
Already have SNPS
Already have SYY
Already have TMUS
Already have TROW
Already have TTWO
Already have TPR
Already have TGT
Already have TEL
Already have FTI
Already have TFX
Already have TXN
Already have TXT
Already have TMO
Already have TIF
Already have TJX
Already have TSCO
Already have TT
Already have TDG
Already have TRV
Already have TFC
Already have TWTR
Already have TSN
Already have UDR
Already have ULTA
Already have USB
Already have UAA
Already have UA
Already have UNP
Already have UAL
Already have UNH
Already have UPS
Already have URI
Already have UHS
Already have UNM
Already have VFC
Already have VLO
Already have VAR
Already have VTR
Already have VRSN
Already have VRSK
Already have VZ
Already have VRTX

VIAC not included, shape =  (126, 6)
Already have V
Already have VNO
Already have VMC
Already have WRB
Already have WAB
Already have WMT
Already have WBA
Already have DIS
Already have WM
Already have WAT
Already have WEC
Already have WFC
Already have WELL
Already have WST
Already have WDC
Already have WU
Already have WRK
Already have WY
Already have WHR
Already have WMB
Already have WLTW
Already have WYNN
Already have XEL
Already have XRX
Already have XLNX
Already have XYL
Already have YUM
Already have ZBRA
Already have ZBH
Already have ZION
Already have ZTS

In [68]:
df.head()

                High       Low      Open     Close     Volume  Adj Close
Date
1990-01-02  20.15625  19.78125  19.84375  20.12500  1496000.0   4.352074
1990-01-03  20.46875  20.12500  20.15625  20.34375  2631600.0   4.399378
1990-01-04  20.75000  20.21875  20.21875  20.50000  2538400.0   4.433168
1990-01-05  20.50000  20.15625  20.40625  20.15625  1825600.0   4.358831
1990-01-08  20.71875  20.12500  20.12500  20.68750  2164400.0   4.473716

In [69]:
df.reset_index(inplace=True)

In [70]:
df.head()

        Date      High       Low      Open     Close     Volume  Adj Close
0 1990-01-02  20.15625  19.78125  19.84375  20.12500  1496000.0   4.352074
1 1990-01-03  20.46875  20.12500  20.15625  20.34375  2631600.0   4.399378
2 1990-01-04  20.75000  20.21875  20.21875  20.50000  2538400.0   4.433168
3 1990-01-05  20.50000  20.15625  20.40625  20.15625  1825600.0   4.358831
4 1990-01-08  20.71875  20.12500  20.12500  20.68750  2164400.0   4.473716

In [71]:
df.set_index('Date', inplace=True)

In [72]:
df.head()

                High       Low      Open     Close     Volume  Adj Close
Date
1990-01-02  20.15625  19.78125  19.84375  20.12500  1496000.0   4.352074
1990-01-03  20.46875  20.12500  20.15625  20.34375  2631600.0   4.399378
1990-01-04  20.75000  20.21875  20.21875  20.50000  2538400.0   4.433168
1990-01-05  20.50000  20.15625  20.40625  20.15625  1825600.0   4.358831
1990-01-08  20.71875  20.12500  20.12500  20.68750  2164400.0   4.473716

In [79]:
df.shape[0]

7672

In [96]:
text = '1234567'

In [98]:
text[2] = 'f'

TypeError: 'str' object does not support item assignment

In [108]:
len(tickers)

505